<html>
    <h1>
        {{ .title }}
    </h1>

    <h2> script 引入测试 </h2>
    <script src="assets/test.js"></script>
    <script src="more_static/test_system.js"></script>

    <script src="assets/1.js"></script>
    <script src="more_static/1.js"></script>
    <script src="1/1.js"></script>
</html>